<!-- THE FORM -->
<!-- USER WILL FILL THE FORM FROM HERE LIKE USER WILL SEE THIS AND WHEN IT FILL ALL THE DATA I WILL TAKE THAT AND SEND IT TO DATABASE -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Recipe</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            font-family: "Poppins", sans-serif;
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            background-color: #ffffff;
            padding: 30px 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
            font-size: 22px;
            background-color: pink;
            padding: 10px;
            border-radius: 5px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #555;
            font-size: 14px;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 14px;
            outline: none;
            transition: border-color 0.2s ease;
        }

        input:focus,
        textarea:focus {
            border-color: #007bff;
        }

        button {
            width: 100%;
            background-color: pink;
            color: black;
            font-weight: 600;
            border: none;
            padding: 10px;
            font-size: 15px;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <form action="/recipes" method="POST">
        <h1>Add New Recipe</h1>
        <label>Recipe ID:</label>
        <input type="text" name="id" required><br>

        <label>Name:</label>
        <input type="text" name="name" required><br>

        <label>Description:</label>
        <textarea name="description" required></textarea><br>

        <label>Ingredients:</label>
        <textarea name="ingredients" required></textarea><br>

        <label>Instructions:</label>
        <textarea name="instructions" required></textarea><br>


        <button type="submit">Add Recipe</button>
    </form>
</body>

</html>